In [ ]:
!pip install alpaca_trade_api

Collecting alpaca_trade_api
  Downloading alpaca_trade_api-3.0.2-py3-none-any.whl (34 kB)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.10/dist-packages (from alpaca_trade_api) (1.5.3)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.10/dist-packages (from alpaca_trade_api) (1.23.5)
Requirement already satisfied: requests<3,>2 in /usr/local/lib/python3.10/dist-packages (from alpaca_trade_api) (2.31.0)
Collecting urllib3<2,>1.24 (from alpaca_trade_api)
  Downloading urllib3-1.26.18-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.8/143.8 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: websocket-client<2,>=0.56.0 in /usr/local/lib/python3.10/dist-packages (from alpaca_trade_api) (1.7.0)
Collecting websockets<11,>=9.0 (from alpaca_trade_api)
  Downloading websockets-10.4-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.8/106.8 kB 9.1 MB/s eta 0:00:00
Collecting msgpack==1.0.3 (from alpaca_trade_api)
  Downloading msgpack-1.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (323 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 323.7/323.7 kB 7.3 MB/s eta 0:00:00
Collecting aiohttp==3.8.2 (from alpaca_trade_api)
  Downloading aiohttp-3.8.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 18.9 MB/s eta 0:00:00
Collecting PyYAML==6.0 (from alpaca_trade_api)
  Downloading PyYAML-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (682 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 682.2/682.2 kB 40.9 MB/s eta 0:00:00
Collecting deprecation==2.1.0 (from alpaca_trade_api)
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca_trade_api) (23.1.0)
Collecting charset-normalizer<3.0,>=2.0 (from aiohttp==3.8.2->alpaca_trade_api)
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting multidict<6.0,>=4.5 (from aiohttp==3.8.2->alpaca_trade_api)
  Downloading multidict-5.2.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (175 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 175.1/175.1 kB 18.9 MB/s eta 0:00:00
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca_trade_api) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca_trade_api) (1.9.3)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca_trade_api) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp==3.8.2->alpaca_trade_api) (1.3.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from deprecation==2.1.0->alpaca_trade_api) (23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18.1->alpaca_trade_api) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18.1->alpaca_trade_api) (2023.3.post1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>2->alpaca_trade_api) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>2->alpaca_trade_api) (2023.11.17)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.18.1->alpaca_trade_api) (1.16.0)
WARNING: The candidate selected for download or install is a yanked version: 'aiohttp' candidate (version 3.8.2 at https://files.pythonhosted.org/packages/8f/52/ea1e5eac3e748a94fdaafba5ab68adfb833f0cbdb68cc8149fbba5574176/aiohttp-3.8.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (from https://pypi.org/simple/aiohttp/) (requires-python:>=3.6))
Reason for being yanked: This version includes overly restrictive multidict upper boundary disallowing multidict v6+. The previous patch version didn't have that and this is now causing dependency resolution problems for the users who have an "incompatible" version pinned. This is not really necessary anymore and will be addressed in the next release v3.8.3

https://github.com/aio-libs/aiohttp/pull/6950
Installing collected packages: msgpack, websockets, urllib3, PyYAML, multidict, deprecation, charset-normalizer, aiohttp, alpaca_trade_api
  Attempting uninstall: msgpack
    Found existing installation: msgpack 1.0.7
    Uninstalling msgpack-1.0.7:
      Successfully uninstalled msgpack-1.0.7
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.7
    Uninstalling urllib3-2.0.7:
      Successfully uninstalled urllib3-2.0.7
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 6.0.1
    Uninstalling PyYAML-6.0.1:
      Successfully uninstalled PyYAML-6.0.1
  Attempting uninstall: multidict
    Found existing installation: multidict 6.0.4
    Uninstalling multidict-6.0.4:
      Successfully uninstalled multidict-6.0.4
  Attempting uninstall: charset-normalizer
    Found existing installation: charset-normalizer 3.3.2
    Uninstalling charset-normalizer-3.3.2:
      Successfully uninstalled charset-normalizer-3.3.2
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.9.1
    Uninstalling aiohttp-3.9.1:
      Successfully uninstalled aiohttp-3.9.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires openai, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.
Successfully installed PyYAML-6.0 aiohttp-3.8.2 alpaca_trade_api-3.0.2 charset-normalizer-2.1.1 deprecation-2.1.0 msgpack-1.0.3 multidict-5.2.0 urllib3-1.26.18 websockets-10.4

In [66]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense
import alpaca_trade_api as tradeapi

# API keys
alpaca_api_key = "PKJYB527YAQVS4J907RJ"
alpaca_secret_key = "zb5bvTpu8cWaKIgAbDCESouV9MX0qn4RXiQzS5n8"

# Create the Alpaca API object
alpaca = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version="v2")

# Set the tickers and timeframe
tickers = ["NVDA"]
timeframe = "1Day"

# Set the date range
start = pd.Timestamp("2014-02-07", tz="America/New_York").isoformat()
end = pd.Timestamp("2020-02-07", tz="America/New_York").isoformat()

# Get the data
df = alpaca.get_bars(tickers, timeframe, start=start, end=end).df

# Drop the 'symbol' column and add shifted close column
df = df.drop(columns=['symbol'])

# Function to create the signal
def signal_creator_5(row):
    percent_diff = (row['close'] - row['shifted_close_5']) / row['shifted_close_5']
    if percent_diff > 0.03:
        return 1
    elif percent_diff < -0.03:
        return -1
    else:
        return 0

def signal_creator_15(row):
    percent_diff = (row['close'] - row['shifted_close_15']) / row['shifted_close_15']
    if percent_diff > 0.03:
        return 1
    elif percent_diff < -0.03:
        return -1
    else:
        return 0

def signal_creator_30(row):
    percent_diff = (row['close'] - row['shifted_close_30']) / row['shifted_close_30']
    if percent_diff > 0.03:
        return 1
    elif percent_diff < -0.03:
        return -1
    else:
        return 0

# 5 day shift
df['shifted_close_5'] = df['close'].shift(periods=5)
df['signal_5'] = 0
df['signal_5'] = df.apply(signal_creator_5, axis=1)

# 15 day shift
df['shifted_close_15'] = df['close'].shift(periods=15)
df['signal_15'] = 0
df['signal_15'] = df.apply(signal_creator_15, axis=1)

# 30 day shift
df['shifted_close_30'] = df['close'].shift(periods=30)
df['signal_30'] = 0
df['signal_30'] = df.apply(signal_creator_30, axis=1)

# Columns and NA drops to prevent data leakege
df.dropna(inplace=True)
df.drop(columns=['shifted_close_5','shifted_close_15','shifted_close_30'],inplace=True)
display(df.head(50))

# Separate features and target
features = df.drop(columns = ['signal_5', 'signal_15', 'signal_30'], axis=1)
target = df.drop(columns = ['close', 'high', 'low', 'trade_count', 'open', 'volume', 'vwap'], axis=1)
display(target)

,close,high,low,trade_count,open,volume,vwap,signal_5,signal_15,signal_30
timestamp,,,,,,,,,,
2016-02-17 05:00:00+00:00,27.66,27.9200,27.2200,97183,27.33,20596326,27.805680,1,-1,-1
2016-02-18 05:00:00+00:00,30.04,30.9750,29.9000,128532,29.93,29349418,30.268698,1,1,-1
2016-02-19 05:00:00+00:00,30.44,30.7100,29.6500,72424,29.88,13842634,30.322581,1,1,-1
2016-02-22 05:00:00+00:00,31.52,31.8700,30.8200,58609,30.88,9976544,31.519259,1,1,1
2016-02-23 05:00:00+00:00,31.60,31.9000,31.1200,52770,31.26,9703181,31.620148,1,1,1
2016-02-24 05:00:00+00:00,31.82,31.8679,30.6000,51578,31.47,8644745,31.321417,1,1,1
2016-02-25 05:00:00+00:00,31.89,32.0500,31.3200,49546,31.94,8979799,31.625301,1,1,1
2016-02-26 05:00:00+00:00,31.68,32.1162,31.3600,50014,32.04,9731232,31.619327,1,1,1
2016-02-29 05:00:00+00:00,31.36,32.0200,31.3400,47138,31.61,8685749,31.626330,0,1,1
2016-03-01 05:00:00+00:00,32.75,32.7500,31.3900,54847,31.44,9263550,32.375714,1,1,1
2016-03-02 05:00:00+00:00,32.94,33.0600,32.5100,41290,32.57,6070199,32.812568,1,1,1
2016-03-03 05:00:00+00:00,32.65,33.0400,32.2100,35300,32.90,7889424,32.549987,0,1,1
2016-03-04 05:00:00+00:00,32.55,32.9300,32.3000,31265,32.90,4621674,32.611137,0,1,1
2016-03-07 05:00:00+00:00,32.34,32.5900,31.9150,37652,32.37,6333730,32.255226,1,1,1
2016-03-08 05:00:00+00:00,31.75,32.2000,31.6450,40105,32.01,7699249,31.838631,-1,1,1
2016-03-09 05:00:00+00:00,31.73,32.0750,31.3200,37796,32.03,5819932,31.613594,-1,1,1
2016-03-10 05:00:00+00:00,31.68,32.1000,31.0400,37406,31.92,7317881,31.549993,0,1,1
2016-03-11 05:00:00+00:00,32.22,32.2300,31.7700,36355,32.15,7301562,32.047539,0,1,1
2016-03-14 04:00:00+00:00,32.30,32.4300,31.9200,30342,32.07,5370814,32.255084,0,0,1
2016-03-15 04:00:00+00:00,32.14,32.3400,31.5700,32119,32.13,6011726,31.952418,0,0,1
2016-03-16 04:00:00+00:00,33.10,33.2100,31.7500,63884,31.90,9409683,32.747399,1,1,1
2016-03-17 04:00:00+00:00,32.82,33.1400,32.3739,47294,32.98,9560564,32.780999,1,0,1
2016-03-18 04:00:00+00:00,33.81,34.2500,33.0000,67360,33.21,15313591,33.813812,1,1,1
2016-03-21 04:00:00+00:00,33.91,33.9200,33.1500,42544,33.51,8887895,33.705983,1,1,1
2016-03-22 04:00:00+00:00,33.85,34.0850,33.4300,31234,33.80,6591819,33.883500,1,1,1
2016-03-23 04:00:00+00:00,34.43,34.6800,33.8500,61434,34.00,11068486,34.399792,1,1,1
2016-03-24 04:00:00+00:00,34.48,34.5400,34.0100,37771,34.12,6650104,34.401477,1,1,1
2016-03-28 04:00:00+00:00,34.83,34.9800,34.3800,36938,34.42,6863093,34.773112,1,1,1
2016-03-29 04:00:00+00:00,35.39,35.4700,34.6000,40041,34.68,6785727,35.159642,1,1,1
2016-03-30 04:00:00+00:00,35.76,36.2500,35.5000,51453,35.52,9768032,35.864835,1,1,1
2016-03-31 04:00:00+00:00,35.63,36.0000,35.3500,44057,35.92,9947032,35.660451,1,1,1
2016-04-01 04:00:00+00:00,36.15,36.1700,35.1400,39365,35.41,9163873,35.944455,1,1,1
2016-04-04 04:00:00+00:00,35.80,36.6400,35.6600,48172,36.45,10567398,35.995398,0,1,1
2016-04-05 04:00:00+00:00,35.75,36.0800,35.3400,42274,35.48,9041086,35.827126,0,1,1
2016-04-06 04:00:00+00:00,35.80,35.8200,34.6300,59155,35.30,11671989,35.477216,0,1,1
2016-04-07 04:00:00+00:00,35.43,35.8900,35.2800,54118,35.57,9845495,35.532285,0,1,1
2016-04-08 04:00:00+00:00,35.66,35.9500,35.3050,36193,35.72,6836178,35.657862,0,1,1
2016-04-11 04:00:00+00:00,35.88,36.4700,35.7600,48558,35.87,10645147,36.033923,0,1,1
2016-04-12 04:00:00+00:00,35.84,36.0500,35.1400,48383,36.00,7702916,35.696761,0,1,1
2016-04-13 04:00:00+00:00,36.74,36.7500,36.0000,52657,36.00,9023326,36.467635,0,1,1
2016-04-14 04:00:00+00:00,36.84,37.0000,36.4900,58750,36.64,11363193,36.794739,1,1,1
2016-04-15 04:00:00+00:00,37.13,37.4600,36.7120,63754,36.83,11612592,37.117509,1,1,1
2016-04-18 04:00:00+00:00,36.97,37.0600,36.6100,51776,37.04,8402201,36.895956,1,1,1
2016-04-19 04:00:00+00:00,36.31,37.1800,36.0800,48995,37.11,8070791,36.416387,0,0,1
2016-04-20 04:00:00+00:00,36.45,36.6700,36.2100,36307,36.25,5281633,36.487703,0,0,1
2016-04-21 04:00:00+00:00,36.41,36.6300,36.2500,30683,36.46,4639178,36.456535,0,0,1
2016-04-22 04:00:00+00:00,36.27,36.7800,36.1450,39130,36.53,6199679,36.340738,0,0,1
2016-04-25 04:00:00+00:00,36.45,36.6500,36.1800,32817,36.28,5392954,36.444676,0,0,1
2016-04-26 04:00:00+00:00,36.48,37.0900,36.3200,36388,36.67,5611474,36.604080,0,0,1
2016-04-27 04:00:00+00:00,37.31,37.3300,36.3230,50968,36.39,9896344,36.979201,0,1,1

                           signal_5  signal_15  signal_30
timestamp
2016-02-17 05:00:00+00:00         1         -1         -1
2016-02-18 05:00:00+00:00         1          1         -1
2016-02-19 05:00:00+00:00         1          1         -1
2016-02-22 05:00:00+00:00         1          1          1
2016-02-23 05:00:00+00:00         1          1          1
...                             ...        ...        ...
2020-02-03 05:00:00+00:00         0          0          1
2020-02-04 05:00:00+00:00         0          0          1
2020-02-05 05:00:00+00:00         0          0          1
2020-02-06 05:00:00+00:00         1          1          1
2020-02-07 05:00:00+00:00         1          0          1

[1002 rows x 3 columns]

In [ ]:
# # Scale the features
# scaler = MinMaxScaler(feature_range=(0, 1))
# scaled_features = scaler.fit_transform(features)

# # Function to create dataset for LSTM
# def create_dataset(X, y, time_steps=5):
#     Xs, ys = [], []
#     for i in range(len(X) - time_steps):
#         Xs.append(X[i:(i + time_steps), :])
#         ys.append(y[i + time_steps])
#     return np.array(Xs), np.array(ys)

# # Creating the dataset
# time_steps = 5
# X, y = create_dataset(scaled_features, target.values, time_steps)

# # Splitting data into training and testing sets
# train_size = int(len(X) * 0.8)
# X_train, X_test = X[:train_size], X[train_size:]
# y_train, y_test = y[:train_size], y[train_size:]

# # Building the LSTM model
# model_5 = Sequential()
# model_15 = Sequential()
# model_30 = Sequential()
# def builder(model):
#   model.add(LSTM(50, return_sequences=True, input_shape=(time_steps, X.shape[2])))
#   model.add(LSTM(50, return_sequences=False))
#   model.add(Dense(25))
#   model.add(Dense(1))

# builder(model_5)
# builder(model_15)
# builder(model_30)

# # Compiling the model
# model_5.compile(optimizer='adam', loss='mean_squared_error')
# model_15.compile(optimizer='adam', loss='mean_squared_error')
# model_30.compile(optimizer='adam', loss='mean_squared_error')

# # Training the model
# model_5.fit(X_train, y_train, epochs=100, batch_size=32)
# model_15.fit(X_train, y_train, epochs=100, batch_size=32)
# model_30.fit(X_train, y_train, epochs=100, batch_size=32)

# # Model Evaluation
# def eval(model):
#   test_loss = model.evaluate(X_test, y_test)
#   print(f'Test Loss: {test_loss}')

# eval(model_5)
# eval(model_15)
# eval(model_30)

# # Making Predictions
# predictions_5 = model_5.predict(X_test)
# predictions_15 = model_15.predict(X_test)
# predictions_30 = model_30.predict(X_test)

# # Function to interpret predictions
# def interpret_prediction(prediction):
#     if prediction > 0.03:
#         return 1  # Buy
#     elif prediction < -0.03:
#         return -1  # Sell
#     else:
#         return 0  # Hold

# interpret_prediction(predictions_5)
# interpret_prediction(predictions_15)
# interpret_prediction(predictions_30)

# #interpreted_signals = [interpret_prediction(p[0]) for p in predictions]

# # Example: Print first 10 decisions
# print(interpreted_signals[:10])

In [67]:
# Scale the features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_features = scaler.fit_transform(features)

In [68]:
# Function to create dataset for LSTM
def create_dataset(X, y, time_steps=5):
    Xs, ys = [], []
    for i in range(len(X) - time_steps):
        Xs.append(X[i:(i + time_steps), :])
        ys.append(y[i + time_steps])
    return np.array(Xs), np.array(ys)

In [69]:
# Creating the dataset
time_steps = 5
X, y = create_dataset(scaled_features, target.values, time_steps)

In [70]:
# Splitting data into training and testing sets
train_size = int(len(X) * 0.8)
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

In [71]:
model_5 = Sequential()

In [72]:
model_15 = Sequential()

In [73]:
model_30 = Sequential()

In [74]:
# Building the LSTM model
def builder(model):
  model.add(LSTM(50, return_sequences=True, input_shape=(time_steps, X.shape[2])))
  model.add(LSTM(50, return_sequences=False))
  model.add(Dense(25))
  model.add(Dense(1))

In [75]:
builder(model_5)

In [76]:
builder(model_15)

In [77]:
builder(model_30)

In [78]:
# Compiling the model
model_5.compile(optimizer='adam', loss='mean_squared_error')
model_15.compile(optimizer='adam', loss='mean_squared_error')
model_30.compile(optimizer='adam', loss='mean_squared_error')

In [79]:
# Training the model
model_5.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
25/25 [==============================] - 6s 10ms/step - loss: 0.6651
Epoch 2/50
25/25 [==============================] - 0s 10ms/step - loss: 0.6153
Epoch 3/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5952
Epoch 4/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5922
Epoch 5/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5876
Epoch 6/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5869
Epoch 7/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5816
Epoch 8/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5778
Epoch 9/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5775
Epoch 10/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5679
Epoch 11/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5636
Epoch 12/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5598
Epoch 13/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5674
Epoch 14/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5575
Epoch 15/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5576
Epoch 16/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5632
Epoch 17/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5613
Epoch 18/50
25/25 [==============================] - 0s 14ms/step - loss: 0.5766
Epoch 19/50
25/25 [==============================] - 0s 14ms/step - loss: 0.5585
Epoch 20/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5466
Epoch 21/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5499
Epoch 22/50
25/25 [==============================] - 0s 17ms/step - loss: 0.5367
Epoch 23/50
25/25 [==============================] - 1s 32ms/step - loss: 0.5297
Epoch 24/50
25/25 [==============================] - 1s 31ms/step - loss: 0.5310
Epoch 25/50
25/25 [==============================] - 1s 27ms/step - loss: 0.5414
Epoch 26/50
25/25 [==============================] - 1s 26ms/step - loss: 0.5403
Epoch 27/50
25/25 [==============================] - 1s 25ms/step - loss: 0.5321
Epoch 28/50
25/25 [==============================] - 1s 26ms/step - loss: 0.5290
Epoch 29/50
25/25 [==============================] - 1s 20ms/step - loss: 0.5625
Epoch 30/50
25/25 [==============================] - 0s 13ms/step - loss: 0.5428
Epoch 31/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5258
Epoch 32/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5175
Epoch 33/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5193
Epoch 34/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5187
Epoch 35/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5343
Epoch 36/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5157
Epoch 37/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5108
Epoch 38/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5239
Epoch 39/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5101
Epoch 40/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5020
Epoch 41/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5132
Epoch 42/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5003
Epoch 43/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5103
Epoch 44/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5008
Epoch 45/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5113
Epoch 46/50
25/25 [==============================] - 0s 11ms/step - loss: 0.4924
Epoch 47/50
25/25 [==============================] - 0s 12ms/step - loss: 0.4812
Epoch 48/50
25/25 [==============================] - 0s 13ms/step - loss: 0.4832
Epoch 49/50
25/25 [==============================] - 0s 11ms/step - loss: 0.4818
Epoch 50/50
25/25 [==============================] - 0s 11ms/step - loss: 0.4805

In [80]:
model_15.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
25/25 [==============================] - 6s 17ms/step - loss: 0.6668
Epoch 2/50
25/25 [==============================] - 0s 16ms/step - loss: 0.6201
Epoch 3/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5999
Epoch 4/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5890
Epoch 5/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5846
Epoch 6/50
25/25 [==============================] - 0s 13ms/step - loss: 0.5822
Epoch 7/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5745
Epoch 8/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5712
Epoch 9/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5628
Epoch 10/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5599
Epoch 11/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5906
Epoch 12/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5608
Epoch 13/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5615
Epoch 14/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5841
Epoch 15/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5584
Epoch 16/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5611
Epoch 17/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5484
Epoch 18/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5426
Epoch 19/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5448
Epoch 20/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5558
Epoch 21/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5330
Epoch 22/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5335
Epoch 23/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5430
Epoch 24/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5277
Epoch 25/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5507
Epoch 26/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5389
Epoch 27/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5238
Epoch 28/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5252
Epoch 29/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5131
Epoch 30/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5178
Epoch 31/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5165
Epoch 32/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5212
Epoch 33/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5198
Epoch 34/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5026
Epoch 35/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5102
Epoch 36/50
25/25 [==============================] - 0s 10ms/step - loss: 0.4995
Epoch 37/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5215
Epoch 38/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5086
Epoch 39/50
25/25 [==============================] - 0s 10ms/step - loss: 0.4925
Epoch 40/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5242
Epoch 41/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5073
Epoch 42/50
25/25 [==============================] - 0s 10ms/step - loss: 0.4976
Epoch 43/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4876
Epoch 44/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5077
Epoch 45/50
25/25 [==============================] - 0s 14ms/step - loss: 0.5047
Epoch 46/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4908
Epoch 47/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4823
Epoch 48/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4716
Epoch 49/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4978
Epoch 50/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4847

In [81]:
model_30.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
25/25 [==============================] - 5s 10ms/step - loss: 0.6549
Epoch 2/50
25/25 [==============================] - 0s 11ms/step - loss: 0.6048
Epoch 3/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5942
Epoch 4/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5906
Epoch 5/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5893
Epoch 6/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5815
Epoch 7/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5813
Epoch 8/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5753
Epoch 9/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5701
Epoch 10/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5725
Epoch 11/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5782
Epoch 12/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5653
Epoch 13/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5592
Epoch 14/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5572
Epoch 15/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5612
Epoch 16/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5480
Epoch 17/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5506
Epoch 18/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5468
Epoch 19/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5495
Epoch 20/50
25/25 [==============================] - 0s 10ms/step - loss: 0.5339
Epoch 21/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5253
Epoch 22/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5502
Epoch 23/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5432
Epoch 24/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5379
Epoch 25/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5457
Epoch 26/50
25/25 [==============================] - 0s 14ms/step - loss: 0.5251
Epoch 27/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5246
Epoch 28/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5531
Epoch 29/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5188
Epoch 30/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5150
Epoch 31/50
25/25 [==============================] - 0s 17ms/step - loss: 0.5102
Epoch 32/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5375
Epoch 33/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5179
Epoch 34/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5096
Epoch 35/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5214
Epoch 36/50
25/25 [==============================] - 0s 17ms/step - loss: 0.5320
Epoch 37/50
25/25 [==============================] - 0s 14ms/step - loss: 0.5123
Epoch 38/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5138
Epoch 39/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5017
Epoch 40/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5168
Epoch 41/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5007
Epoch 42/50
25/25 [==============================] - 0s 11ms/step - loss: 0.4895
Epoch 43/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5071
Epoch 44/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5029
Epoch 45/50
25/25 [==============================] - 0s 11ms/step - loss: 0.4880
Epoch 46/50
25/25 [==============================] - 0s 12ms/step - loss: 0.5416
Epoch 47/50
25/25 [==============================] - 0s 11ms/step - loss: 0.5082
Epoch 48/50
25/25 [==============================] - 0s 10ms/step - loss: 0.4912
Epoch 49/50
25/25 [==============================] - 0s 11ms/step - loss: 0.4921
Epoch 50/50
25/25 [==============================] - 0s 13ms/step - loss: 0.4816

In [82]:
# Model Evaluation
def eval(model):
  test_loss = model.evaluate(X_test, y_test)
  print(f'Test Loss: {test_loss}')

In [83]:
eval(model_5)

7/7 [==============================] - 1s 6ms/step - loss: 0.6192
Test Loss: 0.6192113757133484

In [84]:
eval(model_15)

7/7 [==============================] - 2s 5ms/step - loss: 0.6656
Test Loss: 0.6655747890472412

In [85]:
eval(model_30)

7/7 [==============================] - 1s 4ms/step - loss: 0.5088
Test Loss: 0.5088016390800476

In [86]:
# Making Predictions
predictions_5 = model_5.predict(X_test)

7/7 [==============================] - 1s 5ms/step

In [87]:
predictions_15 = model_15.predict(X_test)

7/7 [==============================] - 1s 4ms/step

In [88]:
predictions_30 = model_30.predict(X_test)

7/7 [==============================] - 1s 4ms/step

In [89]:
# Function to interpret predictions
def interpret_prediction(prediction):
    if prediction > 0.03:
        return 1  # Buy
    elif prediction < -0.03:
        return -1  # Sell
    else:
        return 0  # Hold

#interpreted_signals = [interpret_prediction(p[0]) for p in predictions]

# Example: Print first 10 decisions

In [90]:
results_5 = [interpret_prediction(p[0]) for p in predictions_5]
print(results_5[:-25])

[1, 1, -1, -1, -1, -1, 0, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, 1, 1, 1, 0, -1, 0, 1, 1, 1, 1, 1, 0, -1, -1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 1, 1, 1, 1, 1, -1, 0, 1, 1, 1, 1, 1, 1, 0, -1, 1, 1, 1, 1, 1, 0, 1, 1, -1, -1, -1, -1, -1, -1, 0, 1, 1, 1, 1, -1, -1, -1, -1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [91]:
results_15 = [interpret_prediction(p[0]) for p in predictions_15]
print(results_15[:-25])

[1, 1, -1, -1, -1, -1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, -1, -1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 1, 1, 1, 1, 0, -1, 0, 1, 1, 1, 1, 1, 1, -1, 0, 1, 1, 1, 1, 0, 0, 1, 0, -1, -1, -1, -1, -1, -1, -1, 0, 1, 1, 1, -1, -1, -1, -1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]

In [92]:
results_30 = [interpret_prediction(p[0]) for p in predictions_30]
print(results_30[:-25])

[1, 1, 1, 0, 1, 1, 1, 1, 1, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 1, 0, 0, 0, -1, -1, -1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]